@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i");
h1, h2, h3, h4, h5, p {
  font-family: 'Playfair Display SC', serif; }

.btn-success {
  background-color: #456800;
  border: none; }

#main-heading {
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  color: #002157; }

nav {
  padding-top: 15px;
  text-align: center; }

nav li {
  display: inline-block; }

header a {
  color: black;
  padding-right: 50px;
  font-family: 'Playfair Display', serif; }

header p {
  text-align: center; }

.carousel-item {
  height: 450px; }

footer {
  background-color: #002157;
  color: white;
  margin-top: 30px;
  min-height: 200px; }
  footer h5 {
    font-family: 'Playfair Display', serif;
    padding-top: 15px; }
